.wrapper {
    flex: 1 0 400px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: lightblue;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.description {
    font-size: 1rem;
    margin: 10px 0;
}

.btnWrapper {
    display: flex;
    gap: 20px;
}



.postEdition {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
